.contenedorItem{
    height: calc(100vh - 100px);
    display: flex;
}
.containerImgVino{
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgVino{
    height: calc(100vh - 170px);
}
.containerDetalles{
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.contBotonesDetalle{
    margin-top: 20px;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
.botonesDetalle{
    cursor: pointer;
    height: 40px;
    width: 150px;
    border: 1px solid #4d004d;
    background: #fafafa;
    border-radius: 8px;
    margin: 5px;
    color: #4d004d;
    transition: 200ms;
}
.botonesDetalle:hover{
    background: #4d004d;
    color: #fafafa;
}
.botonesDetalle:active{
    background: #320032;
    color: #fafafa;
}
.botonesDetalle:disabled{
    background-color: #cccccc;
    border: 1px solid #cccccc;
    cursor: not-allowed;
}