.listadoCarrito {
  width: 90vw;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contBotonesCart {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: centers;
}

.cartInput{
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding-left: 10px;
  margin: 5px;
  transition: 300ms;
  width: 30%
}
.cartInput:hover{
  border: 1px solid #4d004d;
  outline: none;
}
.cartInput:focus{
  outline: 1px solid #4d004d;
  outline-width: thin;
  background-color: #f1e9f1;
  border: none;
}
.formCart {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}
.listadoCarrito td,
th {
  text-align: center;
  padding: 8px;
}
.listadoCarrito th {
  text-transform: uppercase;
  font-size: 14px;
}
.listadoCarrito tr:nth-child(even) {
  background-color: #f3f3f3;
}
.blank {
  background-color: white !important;
}

.removeItem {
  filter: invert(21%) sepia(86%) saturate(7447%) hue-rotate(3deg)
    brightness(113%) contrast(128%);
  cursor: pointer;
  height: 24px;
}
.vaciar {
  color: #ff0000;
  filter: invert(21%) sepia(86%) saturate(7447%) hue-rotate(3deg)
    brightness(113%) contrast(128%);
  cursor: pointer;
  height: 30px;
}
.campoVaciar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  font-weight: 400 !important;
}
.imgProdCarrito {
  height: 80px;
}
.itemCarrito {
  height: 50px;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carroVacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  padding-top: 20px;
  color: #e7e6e6;
}
.carroVacio img {
  height: 450px;
}
.tablaTotal {
  background-color: #dedddd;
}
.currSign::before {
  content: "$";
}
